html,
body,
header,
#intro{
	height: 100%;
}

.navbar-brand{
	font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#intro{
	background: url('../img/bgimg.jpg')no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mainDiv{
	margin-top: 12%;
	position: relative;
}

.titleDiv{
	position: absolute;
	margin-top: 2%;
	opacity: 0;
	-webkit-animation: fadein 5s;
	-moz-animation: fadein 5s;
	animation: fadein 5s;
}

#title{
/*	font-family: 'Source Code Pro', monospace;*/
	font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#subTitle{
	font-family: 'Josefin Sans', sans-serif;
}

#Content{
	background-color: red;
}

@keyframes fadein{
	from { opacity: 0; }
	to { opacity: 1; }
}

.glow {
    text-shadow: 0 0 1px #000000,
				0 0 2px #000000,
				0 0 3px #000000,
				0 0 4px #000000,
				0 0 5px #000000,
				0 0 6px #000000,
				0 0 7px #000000,
				0 0 8px #000000,
				0 0 9px #000000, 
				0 0 10px #000000, 
				0 0 20px #000000, 
				0 0 21px #0000ff,
				0 0 23px #0000ff,
				0 0 25px #0000ff,
				0 0 26px #0000ff;			
}


#text1{
	font-family: 'Pacifico', cursive;
}

.btn{
	width: 160px;
	height: 50px;
}

.btnSocial{
	width: 45px;
	height: 45px;
	border-radius: 45px;
	padding: 10px;
	margin: 3px;
}

.msg{
	font-family: 'Dancing Script', cursive;
}