			* 
			{
				/* height and width of all the elements include padding and the borders */
				box-sizing: border-box; 
			}

			body 
			{
				margin: 0; 				/* all the four margins are 0 */
				font-family: Arial;		
				font-size: 17px;
			}

			#myVideo 
			{
				z-index:-1;				/* sending video to back */
				position: fixed;		/* positioned relative to the viewport, i.e. stays in the same place even if the page is scrolled: */
				right: 0;				/* fixes the position of the right edge of the element */
				bottom: 0;
				min-width: 100%; 		/* defines the minimum height of an element. */
				min-height: 100%;
			}

			.content 
			{
				margin:auto;						/* Horizontal center align the div */
				vertical-align:middle;
				background: rgba(0, 0, 0, 0.5);		/* translucent black background */
				color: #f1f1f1;
				width: 50%;
				padding: 20px;
				transform: translateY(45%);
				
			}
			
			.glow 
			{
				text-shadow: 0 0 1px #000000,
				0 0 2px #000000,
				0 0 3px #000000,
				0 0 4px #000000,
				0 0 5px #000000,
				0 0 6px #000000,
				0 0 7px #000000,
				0 0 8px #000000,
				0 0 9px #000000, 
				0 0 10px #000000, 
				0 0 20px #000000, 
				0 0 21px #0000ff,
				0 0 23px #0000ff,
				0 0 25px #0000ff,
				0 0 26px #0000ff;
			}
			
			.shorthead
			{
				text-align:center; 
				font-family: 'Josefin Sans', sans-serif; 
				font-size: 20px;
				margin:auto;
			}
			
			.mainhead
			{
				margin:3% auto auto auto;
				font-weight:550; 
				text-align:center; 
				font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace; 
				font-size: 400%;
			}
			
			button, input[type=submit] 
			{
				background-color: #10A5F5; /* Green */
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin-right:5%;
				border-radius:15%;
				cursor:pointer;
			}
			
			.header
			{
				position:fixed;
				width:100%;
				text-align: center;
				background: #000000;
				color: white;
				font-size: 70%;
			}
			
			input[type=text] 
			{
				box-sizing: border-box;
				border: 2px solid #ccc;
				border-radius: 4px;
				width:50%;
			}
			