#user{
	float: right;
	margin: 10px;
	border :1px;
}

body{
	background:brown;
	color:cyan;
}

.demo{
	height:500px;
	width: 400px;
	background-color:black;
	top:50%;
	left: 50%;
	position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:40px 40px;
    background: rgba(0,0,0,0.8);
    color:#fff;
}

#user{
	font-family:Garamond;
	/* width:100px; */
	height:30px;
	font-size:16px;
	letter-spacing:1px;
	cursor:pointer;
	position:relative;
	margin-right:115px;
	background:silver;
	border:none;
	box-shadow:-1px 1px 1px red;
	color:black;
	font-weight:bold;
}

#admin{
	font-family:Garamond;
	/* width:100px; */
	height:30px;
	font-size:16px;
	letter-spacing:1px;
	cursor:pointer;
	position:relative;
	margin-left:75px;
	background:silver;
	border:none;
	box-shadow:-1px 1px 1px red;
	color:black;
	font-weight:bold;
}